services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: pota
      POSTGRES_USER: pota
      POSTGRES_PASSWORD: pota
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
